
.box-order-button-container .order-button {
  background: linear-gradient(0deg, #d70018, #e45464);
  border: none;
  border-radius: 10px;
  color: #fff;
  flex-direction: column;
  flex-grow: 1;
  height: 60px;
  outline: none;
  padding: 6px;
  transition: .3s;
}
