@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "tailwindcss";

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

html, body {
  -ms-overflow-style: none;  /* IE, Edge cũ */
  scrollbar-width: none;  
}
  
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #403e57 !important;
}
